header{
    display: flex;
    gap: 30px;
    column-count: 2;
}

.img-logo{
    width: 200px;
    border-radius: 50px;
    margin: 20px auto;
    cursor: pointer;
}

.enlace-logo{
    margin: auto;
}

.filtrado{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.filtrado button{
    display: inline-block;
    margin-left: 15px;
}



.contenedorCampeonato{
    max-width: 350px;
    text-align: center;
    display: inline-block;
    margin: 20px;
}

.contenedorCampeonato img{
    width: 350px;
    margin-top: 10px;
}
